:root {
  --primary-color: #f0dfd7;
  --secondary-color: #b27f72;
  --poppins-font: "Poppins", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
}

.hero {
  background-color: var(--primary-color);
  padding: 200px 250px;
  height: 100vh;
}
.hero h2,
.hero h4 {
  font-family: var(--montserrat-font);
  font-weight: 100;
}
.hero h1,
.hero h2,
.hero h4 {
  margin: 0;
}

.hero h2 {
  font-size: 40px;
}

.hero h1 {
  color: var(--secondary-color);
  font-family: var(--poppins-font);
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero h4 {
  font-size: 35px;
}

.hero strong {
  color: var(--secondary-color);
  font-weight: 600;
}
.hero a {
  border: solid 1px var(--secondary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-family: var(--poppins-font);
  font-size: 30px;
  font-weight: 200;
  line-height: 23px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.hero a:hover {
  border: solid 2px var(--secondary-color);
  font-size: 32px;
  font-weight: 400;
}

.contact-link {
  margin: 150px 0 0;
}

.hero .arrow {
  animation: 900ms infinite alternate bounce;
  bottom: 20px;
  color: var(--secondary-color);
  font-size: 28px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

@keyframes bounce {
  from {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, 0);
  }
}

@media (max-width: 992px) {
  .hero {
    padding: 175px 50px 0;
  }

  .hero h2,
  .hero h4 {
    font-weight: 300;
  }
  .hero h2 {
    font-size: 30px;
  }
  .hero h1 {
    font-size: 60px;
  }
  .hero h4 {
    font-size: 25px;
  }

  .hero a {
    font-size: 22px;
    font-weight: 300;
  }

  .hero a:hover {
    font-size: 25px;
  }

  .contact-link {
    margin: 90px 0;
  }
}

@media (max-width: 400px) {
  .hero {
    padding: 150px 50px 0;
  }

  .hero h2,
  .hero h4 {
    font-weight: 300;
  }
  .hero h2 {
    font-size: 25px;
  }
  .hero h1 {
    font-size: 50px;
    line-height: 45px;
    margin: 18px 0 25px;
  }
  .hero h4 {
    font-size: 20px;
  }
  .hero a {
    font-size: 15px;
    font-weight: 300;
  }

  .hero a:hover {
    font-size: 17px;
  }

  .contact-link {
    margin: 90px 0;
  }
}
