:root {
  --primary-color: #f0dfd7;
  --secondary-color: #b27f72;
  --tertiary-color: #e1bbb0;
  --nav-color: rgb(178 127 114 / 87%);
  --poppins-font: "Poppins", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
  --btn-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
nav {
  background: var(--nav-color);
  color: var(--primary-color);
  backdrop-filter: blur(10px);
  font-family: var(--poppins-font);
  font-weight: 500;
}

nav .container-fluid {
  margin: 0 150px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.navbar-nav .nav-link {
  color: var(--tertiary-color);
}
nav img {
  width: 70px;
}

nav .active,
nav li:hover {
  text-decoration: underline;
}

body {
  font-family: var(--poppins-font);
}
section {
  padding: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--montserrat-font);
}

h1 {
  color: var(--secondary-color);
  font-family: var(--poppins-font);
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
}

h3 {
  color: var(--secondary-color);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

h4,
h5,
h6 {
  color: var(--tertiary-color);
}

h4 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

h5 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 13px;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 30px 0 20px;
}

p {
  font-size: 17px;
  line-height: 1.75;
}

/*HOME & FOOTER*/
.hero {
  background-color: var(--primary-color);
  padding: 225px 200px;
  height: 100vh;
}
.hero h2 {
  font-size: 25px;
  font-weight: 200;
}

.hero strong {
  color: var(--secondary-color);
  font-weight: 600;
}

.hero .about-link-wrapper {
  margin-top: 150px;
}
.hero img {
  width: 350px;
}
.hero .arrow {
  animation: 900ms infinite alternate bounce;
  bottom: 30px;
  color: var(--secondary-color);
  font-size: 30px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

@keyframes bounce {
  from {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, 0);
  }
}

.home .abstract-circle-dots {
  bottom: -120px;
  left: auto;
  position: absolute;
  right: 0;
  top: auto;
  width: 200px;
}

.home .project-wrapper {
  margin-top: 150px;
}

.home .project-image {
  border-radius: 4px;
  width: 450px;
}

.home .project-link-wrapper {
  margin-top: 35px;
}

footer {
  background: var(--secondary-color);
  padding: 80px 0;
}

footer h4 {
  color: var(--primary-color);
}

footer .social-link {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
  font-family: var(--poppins-font);
  font-size: 20px;
  font-weight: 400;
  margin: 0 20px;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

footer .social-link:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
}

/*ABOUT*/
.about-me .row {
  margin: 0;
}
.about-me .about-img-wrapper {
  background: var(--primary-color);
  border-radius: 8px 0 0 0;
}

.about-me .about-img {
  border-radius: 50%;
  padding: 90px;
}

.about-me .about-me-content-wrapper {
  margin: 60px 50px;
}

.about-me p {
  margin-bottom: 30px;
}

.about-me .smaller-text {
  color: #85807f;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 2.5px;
}

.about-me a.secondary-link:hover {
  background: none;
  border: 1px solid var(--secondary-color);
}

.skills {
  background: var(--secondary-color);
  border-radius: 0 0 8px 8px;
  color: var(--primary-color);
}
.skills h3 {
  color: var(--primary-color);
}

.skills i {
  font-size: 40px;
  margin: 30px 0;
}

.skills p {
  font-size: 20px;
  font-weight: 200;
}

.skills .abstract-lines {
  position: absolute;
  right: 180px;
}

.education p {
  color: var(--tertiary-color);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

/*PORTFOLIO*/
.portfolio .left-top-corner-abstract {
  position: absolute;
  left: 0;
  top: 95px;
}

.portfolio .project-grid {
  margin-top: 75px;
}

.portfolio .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 425px);
  grid-gap: 100px 75px;
  justify-content: center;
  width: 100%;
}

.portfolio .card {
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
}

.portfolio .card:hover {
  transform: translateY(-10px);
}

.portfolio .project-image {
  transition: all 150ms ease-in-out;
}
.portfolio .project-image:hover {
  opacity: 0.65;
}

.portfolio p {
  font-size: 15px;
  line-height: 2;
}

.portfolio ul {
  list-style: none;
  margin: 0;
}
.portfolio li {
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  color: var(--secondary-color);
  display: inline-block;
  margin: 5px;
  padding: 8px 14px;
}

.portfolio .external-link-icon {
  color: var(--secondary-color);
  font-size: 25px;
  transition: all 100ms ease-in-out;
}

.portfolio .external-link-icon:hover {
  color: var(--tertiary-color);
}

/*CONTACT*/

.contact {
  background: var(--primary-color);
  height: 100vh;
}

.contact-me {
  padding-top: 150px;
}

.contact-wrapper {
  background: #fff;
  border-radius: 8px;
  padding: 75px 100px;
}
.contact-me .abstract-circle {
  left: 0;
  width: 150px;
  position: absolute;
}

.contact h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 50px 0 0;
}
.contact .contact-wrapper a {
  color: var(--secondary-color);
  font-family: var(--poppins-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.contact a:hover {
  color: var(--tertiary-color);
}

/*LINKS*/

.primary-link,
.secondary-link,
.tertiary-link {
  border-radius: 4px;
  box-shadow: var(--btn-shadow);
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.primary-link,
.secondary-link {
  font-weight: 400;
}

.primary-link {
  border: solid 1px var(--secondary-color);
  color: var(--secondary-color);
}
.primary-link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.secondary-link {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.secondary-link:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.tertiary-link {
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
  font-weight: 500;
}

.tertiary-link:hover {
  background: var(--tertiary-color);
  color: #fff;
}
